 body {

 	font-family: lucida console;
 	font-size: 16;
 	background-color: #FFFFA3;
 }

 p {
 	font-size:16;
 }

 h1 {

 	font-family: comic sans ms;
 	font-size: 100;
 	color: #FFFF00;
 	background-color: #000033;
 	margin-top: 1em;
 	margin-bottom: 1em;
 	font-variant: small-caps;
 	outline-style: dotted;
 	outline-width: 20px;
 	outline-color: #FFFF00;

 }

 h2 {
 	font-family: tahoma;
 	font-size: 42;
 	color: #FFFF00;
 	background-color: black;
 	font-variant: small-caps;
 	outline: yellow dotted 10px;
 }

 h3 {
 	font-family: comic sans ms;
 	font-size: 34;
 	color: #FFFF00;
 	background-color: black;
 }

 h4 {
 	font-family: comic sans ms;
 	font-size: 20;
 	color: #FFFF00;
 	background-color: black;

 }

 input {

 	color: #800000;
 }

 fieldset {
 	background-color: #FFCC66;
 }

 legend {
 	border: 1px dashed black;
 	font-size: 20;
 	color: black;
 	font-weight: bold;
 	background-color: yellow;
 }

 table {
 	background-color: #FFCC66;
 }

 th {
 	font-family: comic sans ms;
 	font-size: 20;
 	color: white;
 	background-color: black;
 }

 li {
 	font-weight: bold;
 }

 i {
 	color: red;
 	font-weight: bold;
 }

 hr {
 	border: 6px dashed;
 	color: orange;
 }

 p a {
 	color: #FF9900;
 }

 li a {
 	color: red;
 	font-size: 16;
 	font-weight: bolder;
 }

 ul {
 	list-style-type: square;
 	background-color: orange;
 }

 ol {
 	list-style-type: lower-greek;
 }

 a {
 	color: red;
 }
 